.container1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    height: 100vh;
}
.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(208, 208, 190);
    flex-direction: column;
    height: 400px;
    width: 400px;
}
.form-group{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    margin: 5px;
    background-color: chartreuse;
}